**/__pycache__
*pyc
experiments*/
external/emd/build/
external/emd/emd.egg-info/
external/pytorch_structural_losses/build/
external/pytorch_structural_losses/structural_losses.egg-info/
optimization_db/
outputs/
.env
.idea/
.vscode/
wandb
uv.lock
.agent/
