pyyaml~=6.0.3
numpy~=2.3.3
torch~=2.5.1
drytorch~=0.0.1
requests~=2.32.4
h5py~=3.14.0
scikit-learn~=1.7.0
pykeops~=2.3
pyvista~=0.46
seaborn~=0.13.2
matplotlib~=3.10.5
python-dotenv~=1.1.0
hydra-core~=1.3.2
omegaconf~=2.3.0
pydantic~=2.11.7
torcheval~=0.0.7
setuptools~=70.0
Pillow~=11.3.0

# Optional
wandb>=0.20  # or just remove the  tracker
SQLAlchemy>=2.0  # or just remove the  tracker
optuna>=4.4 # only for hparam tuning
torchmetrics>=1.8 # or remove confusion matrix in train_classifier.py
tensorboard>=2.20
